$selectColor: rgb(241, 109, 127);
//fonts
$colorText: #000;
$colorText-1: #222222;
$colorText-2: #9f9f9f;
$alternateColorText: #ffffff;
//background
$backgroundColor-1: #ffffff;
$backgroundColor-2: #e6e6e6;
//border
$baseBorder: #ececec;