//region carousel
.carousel {
  height: 613px;
  background-color: #e8e8e8;
  margin-bottom: 500px;


  &-block {
    height: 777px;
    background-color: #f7f7f7;

  }

  &_flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.carousel-text {
  margin-top: 224px;
  border-left: 12px solid #f16d7f;
  float: left;
  padding-left: 12px;

  &__header {
    color: #222222;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 45px;
    margin-bottom: 20px;
  }

  &__p {
    color: #222222;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 31px;
  }

}

.carousel__img {
  height: 590px;

  &_size {

    height: 100%;
  }
}

//endregion


