
.catalog {

  &-sticky {
    position: sticky;
    top: 200px;
  }

  &__product {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
  }
}

//region details

.catalog-details {

  width: 10vw;
  margin-block: 20px;

  &[open] &__summary {
    color: $selectColor;
  }

  &[open] &__summary::after {
    content: '\25B2';
  }

  &__summary {
    border-left: 5px solid $selectColor;
    border-bottom: 1px solid #ebebeb;
    list-style-type: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 37px;

    padding-left: 10px;

    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;

    &::after {
      content: '\25BC'; /* Юникод символ треугольника */
      font-size: 14px;
    }

    &:hover {
      color: $selectColor;
    }

  }

  &__ul {
    list-style-type: none;

  }

  &__link {
    display: block;
    margin: 10px;

    font-size: 14px;
    line-height: 33px;
    font-weight: 400;
    color: #6f6e6e;

    &:hover {
      color: $selectColor;
    }
  }
}

//endregion

.txt-box {
  padding: 20px;
  text-align: center;


  &__header {
    @include customFont(16px, 54px, 700, 0.025rem, $colorText-1);
  }

  &__description {
    @include customFont(14px, 54px, 400, 0.025rem, $colorText-2);
  }

}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  color: $colorText-3;

  &__flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 150px;
    gap: 10px;
  }

  &__header {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;

  }

  &__link {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #6f6e6e;

    &:not(:last-child) {
      border-right: 1px solid #6f6e6e;
    }
  }
}

.catalog-box {
  &__single-page {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  &__index {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  &__product {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.catalog-item {
  width: 263px;
  position: relative;
  margin-bottom: 40px;
  justify-self: center;

  &__link {
    width: 263px;
    display: block;
    text-decoration: none;
  }


  &:hover {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.15);
  }

  &:hover .add-box {
    display: flex;
  }

  &__img {
    width: 100%;
  }

  &:hover .catalog-item__img {
    filter: brightness(30%);
  }

  &__price {
    @include customFont(16px, 1.2, 700, 0.025rem, $selectColor);
    text-transform: uppercase;
  }
}

.add-box {
  position: absolute;
  top: 98px;
  display: none;
  justify-content: center;
  width: 100%;
  pointer-events: none;

  &__link {
    display: flex;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px;
    align-items: center;
    pointer-events: all;

    &:hover {
      box-shadow: 0 0 10px 0 #fff;
    }
  }

  &__img {
    margin-right: 10px;
  }

  &__txt {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
  }
}

.button-box {
  display: flex;
  justify-content: center;

  &__item {
    place-self: center;
    width: 212px;
    height: 42px;
    border: 1px solid $selectColor;
    cursor: pointer;
    background-color: transparent;
    color: $selectColor;
  }
}

@media screen and (max-width: 1100px) {


  .catalog-box {
    &__single-page {
      grid-template-columns: repeat(3, 1fr);
    }

    &__index {
      grid-template-columns: repeat(3, 1fr);
    }

    &__product {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .catalog-details {
    width: 150px;
  }

}


@media screen and (max-width: 768px) {
  .catalog-box {
    &__single-page {
      grid-template-columns: repeat(2, 1fr);
    }

    &__index {
      grid-template-columns: repeat(2, 1fr);
    }

    &__product {
      grid-template-columns: repeat(2, 1fr);
    }


  }
  .catalog__product {
    margin: 20px;
  }
  .catalog-navigation {
    display: none;
  }
  .catalog-filter {
    display: none;
  }
}

@media screen and (max-width: 560px) {

  .catalog {
    &-sticky {
      top: 10px;
    }
  }


  .catalog-box {

    &__single-page {
      grid-template-columns: repeat(1, 1fr);
    }

    &__index {
      grid-template-columns: repeat(1, 1fr);
    }

    &__product {
      grid-template-columns: repeat(1, 1fr);
    }
  }

}