.checkout {
  background-color: $backgroundColor-1;

  &-details {
    border-bottom: 1px solid $baseBorder;

    &__box {
      display: flex;
      justify-content: space-between;
      padding: 0 35px 79px 35px;
    }

    &__item {

    }
  }

  &-summary {
    display: flex;
    padding-block: 30px;
    @include customFont(16px, 1.2, 800, 0.025rem);
    text-transform: uppercase;
    color: $colorText;
  }
}

.login-end {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 32px;

  a {
    @include customFont(14px, 20px, 600);
    color: $colorText;
    text-decoration: none;
  }

}

.toggle {
  display: flex;
  flex-direction: column;
  padding-bottom: 33px;
  gap: 20px;

  &-box {
    display: flex;
    align-items: center;
    gap: 14px;

    input[name='contact'] {
      accent-color: #555555;
    }
  }

  label {
    @include customFont(12px, 1.2, 600);
    text-transform: uppercase;
    color: $colorText;
  }
}

.link-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 38px;

  a {
    @include customFont(13px, 20px, 400);
    color: #b3b2b2;
    text-decoration: none;

    .double-arrow {
      width: 12px;
      line-height: 20px;
      filter: brightness(0) saturate(100%) invert(75%) sepia(4%) saturate(3%) hue-rotate(323deg) brightness(99%) contrast(82%);
    }
  }
}

.button-register {
  @include customFlex(0, center, center);
  width: 180px;
  height: 50px;
  background-color: $backgroundColor-1;
  border: 1px solid $backgroundColor-1;
  @include customFont(14px, 1.2, 800);
  text-transform: uppercase;
  color: $colorText;

  &:hover {
    box-shadow: 0 0 5px 0 $selectColor;
    cursor: pointer;
    background-color: $backgroundColor-1;
    color: $colorText;
  }

}


