@import "vars_mixins/colors";
@import "vars_mixins/sizes";
@import "vars_mixins/fonts";
@import "vars_mixins/position";

@import "header/header";
@import "header/logo";
@import "header/breadcrumbs";

@import "footer/footer";
@import "footer/subscribe";

@import "banner";
@import "carousel";
@import "description_card";
@import "catalog";
@import "checkout";
@import "privileges";
@import "cart";
@import "offer";

@import "links";
@import "details/dropdown";



* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.siteWidth {
  max-width: $widthSite;
  margin: 0 auto;
}

.container {
  max-width: $widthContainer;
  margin: 0 auto;
}
















