@import "vars_mixins/colors";
@import "vars_mixins/sizes";
@import "vars_mixins/fonts";
@import "vars_mixins/position";

@import "header/header";
@import "footer";

@import "header/logo";

@import "banner";
@import "carousel";
@import "catalog";
@import "checkout";
@import "privileges";
@import "cart";
@import "offer";

@import "links";
@import "details/details";

* {
  margin: 0;
  padding: 0;
}



.container {
  width: $widthSite;
  margin: 0 auto;
}
















