.details {
  cursor: pointer;
  &-header {
    width: 130px;
    height: 38px;
    border: 1px solid $colorText;
    background-color: $selectColor;
    list-style-type: none;

    &__text {
      color: $alternateColorText;
      text-decoration: none;
      @include customFont(15px, 0, 400);
    }

    &:hover {
      box-shadow: 0 0 3px $colorText;
    }

  }

  &-dropdown-menu {
    width: 80px;
    height: 38px;
    border: 1px solid $colorText;
    background-color: $backgroundColor-2;


    &__nav {

    }

    &__ul {
      width: 262px;
      list-style-type: none;
      background-color: $backgroundColor-1;
      position: relative;
      top: 5px;
      z-index: 1;


    }

    &__li {
      list-style-type: none;
      &:hover .details-dropdown-menu__link {
        color: $selectColor;
      }
    }

    &__link {
      display: block;
    }
  }
}

.summary {

  &-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 8px;
    box-sizing: border-box;
    height: 100%;
    max-width: 100%;
    list-style-type: none;
  }

  &-dropdown-menu {
    display: flex;
    align-items: center;
    padding-inline: 8px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    list-style-type: none;
  }
}
