.subscribe {
  gap: 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 438px;
  padding-inline: 10%;

  background-image: url("../../img/subscribe/background.svg"), linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: left;

  text-align: center;

  color: rgb(34, 34, 36);

  font-weight: 400;

  .recall {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 30vw;
    gap: 20px;

    font-style: italic;
    font-size: 20px;
    line-height: 23px;

    &-img {
      max-width: 5vw;
      border-radius: 50%;
    }
  }

  .subscribe_panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 18px;

    .subscribe-header {
      font-weight: 700;
      font-size: 24px;
    }

    .subscribe__text {
      margin: 20px;
    }

    .subscribe__button {
      display: flex;
      justify-content: space-between;
      padding: 10px;

      .input-button {
        padding: 10px;
        border: none;
        border-radius: 20px 0 0 20px;
        background: rgb(225, 225, 225);
      }

      button {
        padding: 10px 20px;
        border: none;
        border-radius: 0 20px 20px 0;
        background: $selectColor;
        color: white;
        cursor: pointer;

      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .subscribe {
    flex-direction: column;

    .recall {
      display: block;
      text-align: center;
      width: 100%;


      &-img {

        max-width: 50%;
        border-radius: 50%;
      }
    }
  }
}